* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100dvh;
  width: 100%;
}

body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  outline: 1px solid red;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}