*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:host {
    border: 1px solid red;
    outline: 1px solid green;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "display"
        "keyboard";
}

.display,
wc-keyboard {
    border: 2px dotted greenyellow;
}

.display_container {
    grid-area: display;
}

.display_value {
    font-size: 3rem;
    color: lime;
}

wc-keyboard {
    grid-area: keyboard;
}