*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:host {
    display: grid;
    width: 100%;
    height: 100%;
    border: 2px solid lime;
}

.keyboard_container {
    display: grid;
    grid-template-columns: repeat(5fr);
    grid-template-rows: repeat(4fr);
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    padding: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "sete oito nove percent clear"
        "quatro cinco seis mult divs"
        "um dois tres plus menos"
        "zero double ponto plus igual";
}

button {
    grid-area: var(--area, auto);
    background: none;
    color: inherit;
    outline: inherit;
    font: inherit;
    border: none;
    cursor: pointer;
    clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 100%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}



.base_button {
    border: 1px solid red;


}



.pressed {
    background-color: rgba(1, 1, 1, 1);
}